QWidget#basewindow{
    background:qlineargradient(x1:0 y1:0, x2:0 y2:-1, stop:0 rgb(103,144,188), stop:0.1 rgb(75,118,164), stop:1 rgb(66,109,155));
}

QLabel#window_title{
    color:#eee;
    margin-left:2px;
}

QPushButton#minimize_button{
    background:transparent;
    qproperty-icon:url(":/images/minimize");
}

QPushButton#minimize_button:hover{
    background:rgb(24,140,215);
}

QPushButton#close_button{
    background:transparent;
    image:url(":/images/close");
}

QPushButton#close_button:hover{
    background:rgb(190,53,39);
}

QWidget#tool_widget{
    background:qlineargradient(x1:0 y1:0, x2:0 y2:-1, stop:0 rgb(213,231,251), stop:0.5 rgb(190,214,238) , stop:1 rgb(179,199,223));
}

QWidget#tool_widget QToolButton{
    background:transparent;
}

QWidget#tool_widget QToolButton:hover{
    background:rgb(255,255,255,35%);
}

QListWidget{
    background:rgb(219,226,232)
}

